<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- general settings -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="content-language" content="en-us">
        <base href="{global.baseUrl}" />

        <!-- meta tags -->
        <title>{head.title} | {global.appName}</title>
        <meta name="description" content="{head.description}">

        <!-- static assets -->
        <link type="image/x-icon" rel="icon" href="favicon.ico">
        <script type="text/javascript" charset="utf-8" src="public/app.js"></script>


    </head>
    <body>
        <div class="wrapper">
            <div class="content">
        